.login{ padding:1rem;
    .userimg{ text-align:center;
        img{ width:5rem; height:5rem; border-radius:50%;}
    }
    .login_reg{ text-align:center;}
}


.list-ios[inset]{ margin:0;}
ion-item-divider{ min-height:.5rem;}


